.header {
    padding: 1rem 0 3rem;
}

.title {
    font-size: 2rem;
    text-decoration: none;
    color : #243531;
}

.title:hover {
    color : #0b1f0e;
}

.nav-list {
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
}

.nav-item {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: rgb(172, 196, 163);
    text-decoration: none;
}

.nav-item:hover {
    color: rgb(22, 31, 29);
}

.active-nav-item {
    color: rgb(65, 73, 62);;
}